@charset "UTF-8";
/* CSS Document */

body {
font-family: 'Bookman Old Style', Bookman, 'URW Bookman L', 'Palatino Linotype', serif;    
background: #aad9be;
color: #3d62a8;
}

#topnavigation {
  position: fixed;
  top: 20px;
}

#header {
	height: 80px;
background-color:purple;
padding-bottom:40px;
}


#logo {
height: 80px;
margin-right: 15px;
float: left;
background-color:pink;
padding-top:20px;
}





#navigationbox {
	background-color:#35b8c2;
	margin-left:-25px;
	margin-right:-25px;
	height:40px;
}

#newlogo {
	padding-bottom:25px;
}

#logoname {
	font-size: 15.5pt;
color: #264473;
font-weight: bold;
letter-spacing:5.5px;
line-height: 1em;
text-transform:uppercase;
margin-top:10px;

}

#logosaying {
	
		margin-top: -8px;
	float: left;
	font-size: 14.5pt;
color: #264473;
font-weight: normal;
font-style:italic;
line-height: 1em;
}



#navlinks a {
    color: white;
    float: left;
	padding-right: 13px;
    -webkit-transition: opacity .25s;
	padding-left:13px;
	padding-top:10px;
	padding-bottom:10px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}




#navlinks a:hover {
	text-decoration: none;
    cursor: pointer;
	background-color:#3d62a8;
	
	
	
    -moz-transition: all .3s ease-in;
    /* WebKit */
    -webkit-transition: all .3s ease-in;
    /* Opera */
    -o-transition: all .3s ease-in;
    /* Standard */
    transition: all .3s ease-in;
}



#header .span12 {
	width: 1500px;
	margin-left: -24px;
}





#stafflist {
text-align:center;	
}


.row h1 {
margin-bottom: 25px;	
}


#whitebox {
background: white;
border-top: solid 25px white;
border-left: solid 25px white;
border-right: solid 25px white;
border-bottom: solid 50px white;

margin-bottom: 25px;
}

h3 {
font-weight: 300;
line-height: 1.2em;	
}
h2 {
font-weight: 400;
line-height: 1.2em;	
}
h1 {
font-weight: 600;
line-height: 1.2em;	
font-style:italic;
}

p {
line-height: 1.5em;
color: #6d6e71;
}





#spacer {
	margin-top: 50px;
	margin-bottom: 50px;
height: 1px;
background: #bcbec0;
}






#whitebox2 {
background: white;
border-top: solid 25px white;
border-left: solid 25px white;
border-right: solid 25px white;

margin-bottom: 25px;
}










p {
}











