@charset "utf-8";
/* CSS Document */


.navbar-wrapper {
	background-color:#35b8c2;
	
	font-family: 'Bookman Old Style', Bookman, 'URW Bookman L', 'Palatino Linotype', serif;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
line-height:13px;
}

.navbar-nav>li {
	color:white;
}


.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color:white;
	background-color:#3d62a8;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a {
	color:white;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color:#3d62a8;
	color:white;
}





#LogoImage {
	width:65px;
	margin-top:20px;
	
	margin-bottom:20px;
	margin-left:20px;
	display:inline;
	float: left;
	margin-right:15px;
	
}
#NavigationID {
background:white;	
}
	
#LogoImage:hover {
	cursor: pointer;
}

h1, h2 {
font-family:'Bookman Old Style', Bookman, 'URW Bookman L', 'Palatino Linotype', serif;
font-size:15.5px;
line-height:10px;
color: #264473;
margin-left:20px;
}

h1 {
	font-weight:bold;
	line-height:0px;
	letter-spacing:5.5px;
	margin-top:40px;

}

h2 {
	font-weight:normal;
	font-style:italic;
	line-height:0px;

}







#content
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #aad9bc;

}

#Topwidth {
	background-color:white;
}






#whitetextbox {
	position:relative;
	background-color:white;
	height:100%;
}








#boxfortext {
	
	position:absolute;
	
}


#textinbox1 {
	
margin: 0 auto;
	
	margin-top:50px;
	width:70%;

position:relative;
font-family:'Bookman Old Style', Bookman, 'URW Bookman L', 'Palatino Linotype', serif;
font-size:15.5px;
line-height:19px;
color: #264473;

text-align:justify;

}

